@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.sidebarCollapse {font-size: 10px;}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
/* Shrinking the sidebar from 250px to 80px and center aligining its content*/


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}


#sidebar ul li a {
    text-align: left;
}


/* body{
  margin:0px;
  height: 100%;
} */
/* div.person{
  /* top:4%;
  float: centre;
   width:40%;
  height:40; 
} */
/* margin: 5px;
  border: 1px solid #ccc;
  
  width: 120px;
  height: 120;
  right:50%;
  text-align: center;
} */ */
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  /* .sidenav {
      background-color:#f1f1f1;
      height:100%;
      
      position: realtive;
    } */
    .header{
        background-color:aquamarine;
        height: 20%;
        right: 0rem;
        width:70rem;
        position: absolute;
      }
    .main{
      background-color:white;
      height: 70%;
      right: 0rem;
      width:70rem;
      top:20%;
      position: absolute;
    }
    
    .footer {
        width:70rem;
      border-block-color: inherit;
      bottom: 0rem;
      position: absolute;
      background-color:lightblue;
      color: white;
      text-align: right;
      right: 0rem;
      height: 10%;
   }
   p{
       color:blue;
   }
   
   .right {
    float: right;
  }
  
  .row.content {
    height: 66rem;
    bottom: 0rem;
  }
  
  